# gitignore

.DS_Store

observer_notes.md
protocol.md
platform_guidance.md
task1_triangle_suggested_answer.py
task1_triangle_suggested_answer.java
task2_diamond_buggy_suggested_answer.py
task2_diamond_buggy_suggested_answer.java